/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/.Poppins-BlackItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraBold.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraLight.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space mono";
  src: url("./fonts/SpaceMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space mono";
  src: url("./fonts/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Space mono";
  src: url("./fonts/SpaceMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space mono";
  src: url("./fonts/SpaceMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CTA {
  background-color: #d7d7d7;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 1px #00000005;
}

.CTA:hover {
  background-color: #000;
}

.CTA .charger-plus {
  color: #000;
  letter-spacing: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  font-family: Space Mono, Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.CTA:hover .charger-plus {
  color: #fff;
  font-weight: 700;
}

.menu-input {
  width: 69px;
  height: 24px;
  position: relative;
}

.menu-input .accueil {
  color: #000;
  letter-spacing: 0;
  height: 24px;
  font-family: Space Mono, Helvetica;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  top: -1px;
  left: 0;
}

.menu-input .default {
  font-weight: 400;
}

.menu-input .hover {
  font-weight: 700;
}

.footer-desktop {
  background-color: #fff;
  width: 1440px;
  height: 40px;
  position: relative;
}

.footer-desktop .group {
  width: 620px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 410px;
}

.footer-desktop .menu-input-instance {
  width: 157px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.footer-desktop .design-component-instance-node {
  width: 97px !important;
  position: absolute !important;
  top: 0 !important;
  left: 243px !important;
}

.footer-desktop .menu-input-2 {
  width: 194px !important;
  position: absolute !important;
  top: 0 !important;
  left: 426px !important;
}

.footer-desktop .line {
  object-fit: cover;
  width: 1440px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.index {
  background-color: #fff;
  width: 1440px;
  height: 1939px;
  position: relative;
}

.index .footer-desktop-instance {
  position: absolute !important;
  top: 1899px !important;
  left: 0 !important;
}

.index .frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
  position: absolute;
  top: 605px;
  left: 144px;
}

.index .team-mari-e {
  color: #000;
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
  width: 420px;
  margin-top: -1px;
  position: relative;
}

.index .text-wrapper {
  color: #000;
  font-family: var(--description-photo-desktop-font-family);
  font-size: var(--description-photo-desktop-font-size);
  font-style: var(--description-photo-desktop-font-style);
  font-weight: var(--description-photo-desktop-font-weight);
  letter-spacing: var(--description-photo-desktop-letter-spacing);
  line-height: var(--description-photo-desktop-line-height);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.index .vous-aimerez-AUSSI {
  color: #000;
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  height: 27px;
  position: absolute;
  top: 1157px;
  left: 145px;
}

.index .div {
  color: #000;
  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-style: var(--p-font-style);
  font-weight: var(--p-font-weight);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  text-align: right;
  height: 21px;
  position: absolute;
  top: 1010px;
  left: 145px;
}

.index .img {
  object-fit: cover;
  width: 564px;
  height: 1px;
  position: absolute;
  top: 962px;
  left: 146px;
}

.index .line-2 {
  object-fit: cover;
  width: 1148px;
  height: 1px;
  position: absolute;
  top: 1080px;
  left: 146px;
}

.index .nathalie-jpeg {
  object-fit: cover;
  width: 563px;
  height: 844px;
  position: absolute;
  top: 118px;
  left: 731px;
}

.index .CTA-instance {
  width: 272px !important;
  height: 50px !important;
  display: flex !important;
  position: absolute !important;
  top: 1000px !important;
  left: 438px !important;
}

.index .CTA-2 {
  margin-top: unset !important;
}

.index .CTA-3 {
  width: 272px !important;
  height: 50px !important;
  display: flex !important;
  position: absolute !important;
  top: 1785px !important;
  left: 584px !important;
}

.index .card-photo {
  background-image: url("https://anima-uploads.s3.amazonaws.com/projects/63eb64c02e370d1798fe97e7/releases/64df017d18733b734262d811/img/nathalie-4-jpeg.png");
  background-position: 50%;
  background-size: cover;
  width: 564px;
  height: 495px;
  position: absolute;
  top: 1237px;
  left: 144px;
}

.index .card-photo-2 {
  background-image: url("https://anima-uploads.s3.amazonaws.com/projects/63eb64c02e370d1798fe97e7/releases/64df017d18733b734262d811/img/nathalie-5-jpeg.png");
  background-position: 50%;
  background-size: cover;
  width: 564px;
  height: 495px;
  position: absolute;
  top: 1237px;
  left: 728px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}

.menu-container {
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px 10px #00000008;
  height: 80px;
}

.menu-container li {
  display: inline-block;
  padding: 30px;
  line-height: 1em;
  position: relative;
  right: 6%;
}

li {
  margin-right: 2%;
}

ul,
ol {
  list-style: none;

  box-shadow: none !important;
}

a {
  text-decoration: none;
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  font-size: 16px;
}

.logo {
  width: 214px;
  height: 14px;
  float: left;
  text-align: center;
  margin-left: 17%;
  max-height: 80px;
  position: relative;
  top: 16px;
  right: 8%;
}

.footer-container {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -4px 14px 10px #00000008;
  height: 40px;
  border-top: solid black;
}

.footer-container li {
  display: inline-block;
  margin-left: 7%;
}
#gallery-1 {
  margin: auto;
  position: relative;
  top: 58em;
  left: 21em;
  height: 23vh;
  width: 29%;}
  #gallery-1 img {
    border: 2px solid #cfcfcf;
    object-fit: contain;
    background-size: 49%;
    height: 6em;
  }
 .prev,  .next {
  cursor: pointer;
  padding: 10px;
  position: relative;
  top: 53em;
  color: var(--bluesgray-2);
  left: 53em;
  width: 200px;
  
}
.next{
  left:16%;
  background-image: url('next.png');
background-repeat: no-repeat;

}
.prev{
  background-image: url('prev.png');
  background-repeat: no-repeat;
}*/