@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


@import url('https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css');
:root {
  --black: rgba(49, 49, 68, 1);
  --bleu-fonc: rgba(49, 49, 68, 1);
  --bluesblue-cta: rgba(33, 90, 255, 1);
  --bluesgray-2: rgba(184, 187, 194, 1);
  --description-photo-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-desktop-font-size: 14px;
  --description-photo-desktop-font-style: normal;
  --description-photo-desktop-font-weight: 400;
  --description-photo-desktop-letter-spacing: 1.4px;
  --description-photo-desktop-line-height: normal;
  --description-photo-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-mobile-font-size: 14px;
  --description-photo-mobile-font-style: normal;
  --description-photo-mobile-font-weight: 400;
  --description-photo-mobile-letter-spacing: 1.4px;
  --description-photo-mobile-line-height: normal;
  --drop-menu-menu-font-family: "Poppins-Medium", Helvetica;
  --drop-menu-menu-font-size: 12px;
  --drop-menu-menu-font-style: normal;
  --drop-menu-menu-font-weight: 500;
  --drop-menu-menu-letter-spacing: 0.36px;
  --drop-menu-menu-line-height: 18px;
  --gris-fonc: rgba(196, 196, 196, 1);
  --gris-light: rgba(229, 229, 229, 1);
  --gris-medium: rgba(216, 216, 216, 1);
  --h1-desktop-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-desktop-font-size: 70px;
  --h1-desktop-font-style: italic;
  --h1-desktop-font-weight: 700;
  --h1-desktop-letter-spacing: 0px;
  --h1-desktop-line-height: normal;
  --h1-mobile-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-mobile-font-size: 27.588184356689453px;
  --h1-mobile-font-style: italic;
  --h1-mobile-font-weight: 700;
  --h1-mobile-letter-spacing: 0px;
  --h1-mobile-line-height: normal;
  --h2-desktop-font-family: "SpaceMono-Italic", Helvetica;
  --h2-desktop-font-size: 66px;
  --h2-desktop-font-style: italic;
  --h2-desktop-font-weight: 400;
  --h2-desktop-letter-spacing: 0px;
  --h2-desktop-line-height: 58px;
  --h2-mobile-font-family: "SpaceMono-Italic", Helvetica;
  --h2-mobile-font-size: 46px;
  --h2-mobile-font-style: italic;
  --h2-mobile-font-weight: 400;
  --h2-mobile-letter-spacing: 0px;
  --h2-mobile-line-height: 48px;
  --h3-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --h3-desktop-font-size: 18px;
  --h3-desktop-font-style: normal;
  --h3-desktop-font-weight: 400;
  --h3-desktop-letter-spacing: 1.8px;
  --h3-desktop-line-height: normal;
  --h3-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --h3-mobile-font-size: 18px;
  --h3-mobile-font-style: normal;
  --h3-mobile-font-weight: 400;
  --h3-mobile-letter-spacing: 1.8px;
  --h3-mobile-line-height: normal;
  --noir-100: rgba(0, 0, 0, 1);
  --p-font-family: "Poppins-Light", Helvetica;
  --p-font-size: 14px;
  --p-font-style: normal;
  --p-font-weight: 300;
  --p-letter-spacing: 0px;
  --p-line-height: normal;
  --rouge: rgba(224, 0, 0, 1);
  --rouge-secondaire: rgba(254, 88, 88, 1);
  --rouge-tertiaire: rgba(255, 214, 214, 1);
  --white: rgba(255, 255, 255, 1);
 
}
@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-BlackItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-ExtraBold.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/Poppins-ExtraLight.ttf");
  font-weight:lighter;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/themes/wordplate/inc/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space mono";
  src: url("/themes/wordplate/inc/fonts/SpaceMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Space mono";
  src: url("/themes/wordplate/inc/fonts/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Space mono";
  src: url("/themes/wordplate/inc/fonts/SpaceMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Space mono";
  src: url("/themes/wordplate/inc/fonts/SpaceMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0 ;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}

.menu-container {
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px 10px #00000008;
  height: 80px;
}

.menu-container li {
  display: inline-block;
  padding: 30px;
  line-height: 1em;
  position: relative;
  right: 6%;
}
li {
margin-right: 2%;
}
ul,
ol {
  list-style: none;

  box-shadow: none !important;
}

a {
  text-decoration: none;
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  font-size: 16px;
}

.logo {
  width: 214px;
  height: 14px;
  float: left;
  text-align: center;
  margin-left: 17%;
  max-height: 80px;
  position: relative;
  top: 4%;
  right: 8%;
}


.footer-container {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -4px 14px 10px #00000008;
  height: 40px;
  border-top: solid black;
}
.footer-container li {
  display: inline-block;
  margin-left: 7%;
}
.hero {
  position: relative;
  background: url("../inc/images/nathalie-11.jpeg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 400px 0;
  width: 100%;
}

.hero-content {
  max-width: 62vw;
  margin: 0 auto;
}

.hero h1 {
    -webkit-text-stroke: 3px #fff;
    color: #0000;
    font-family: var(--h1-desktop-font-family);
    font-size: var(--h1-desktop-font-size);
    font-style: var(--h1-desktop-font-style);
    font-weight: var(--h1-desktop-font-weight);
    letter-spacing: var(--h1-desktop-letter-spacing);
    line-height: var(--h1-desktop-line-height);
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -4px;
    margin-left: -3px;
    position: relative;
    
}
.footer-container a{
font-size: var(--drop-menu-menu-font-size);}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 236, 236, 0.5);
  z-index: 1050;
  overflow: auto;
}

.modal-dialog {
  width: 600px;
  max-width: calc(100vw - 20px);
  height: 770px;
  max-height: calc(100vh - 20px);;
  margin: 100px auto;
}
form {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;

}
.modal-content {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}

.modal-header {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}



.modal-body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.btn-secondary {
  background-color:#ccc;
  color: black;
}

.btn-primary {
  background-color: var(--gris-fonc);
  border-radius: 2px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
  height: 70px;
  width: 236px;
  border-radius: 2px;
  border-color:var(--gris-fonc); 
 
  
}

.form-group {
 padding: 20px;
 display: contents;
}




.modal-title:nth-child(1)::before {
  content: "CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT";
  display: inline-block;
  font-size: 33px;
  font-weight: 400;
  font-weight: var(--h2-desktop-font-weight);
  color: #313144;
  color: var(--black);
  font-family: SpaceMono-Regular,Helvetica;
  font-family: var(--description-photo-desktop-font-family);
  font-style: italic;
  word-spacing: -12px;
  opacity: 1;
  width: 677px;
  margin-left: -25px;
  transform: translateZ(-3px);
}
.modal-title{
position: relative;
    transform-style: preserve-3d;
    perspective: 500px;}


input{
  width: 300px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #B8BBC2;
  border-radius: 8px;

}
textarea {
  width: 300px;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}
label{
 
    position: relative;
  padding: 5%;
  font-family: var(-h3-desktop-font-family);
 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.image-item {
  width: 100%;
  height: 495px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#flex {
  display: flex;
  justify-content: center; /* Modifier de space-evenly à flex-start */
  align-items: center;
  position: relative;
  top: 3em;
  flex-direction: row;
}

#flex > *:first-child,
#flex > *:nth-child(2) {
  margin-right: 3em; /* Ajuster la marge pour réduire l'écart entre les deux premiers éléments */
}
#flex > *:nth-child(3){
  display: flex;
  justify-content: flex-end;
  margin-left: 19em;
}


.cont-box  {
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  width: 281px;
  height: 46px;
  font-family: var(--description-photo-desktop-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #313144;
  background: white;}
  #btn2{
    background-color: #000 !important;
  }
  #btn2::before{
    background-color: red !important;
  } 

.btn1 {
  font-family: var(--description-photo-desktop-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #000;
  width: 272px;
  height: 50px;
  
  padding: 8px 15px;
  background: #D8D8D8;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
.cont-btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.desktop-single-photo {
  position: relative;
  width: 1440px;
  height: 1939px;
  background-color: #ffffff;
}

.desktop-single-photo .footer-desktop {
  position: absolute;
  width: 1440px;
  height: 40px;
  top: 1899px;
  left: 0;
  background-color: #ffffff;
}

.desktop-single-photo .group {
  position: absolute;
  width: 620px;
  height: 24px;
  top: 8px;
  left: 410px;
}

.desktop-single-photo .menu-input {
  width: 157px;
  left: 0;
  position: absolute;
  height: 24px;
  top: 0;
}

.desktop-single-photo .accueil {
  position: absolute;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: "Space Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-single-photo .accueil-wrapper {
  width: 97px;
  left: 243px;
  position: absolute;
  height: 24px;
  top: 0;
}

.desktop-single-photo .div-wrapper {
  width: 194px;
  left: 426px;
  position: absolute;
  height: 24px;
  top: 0;
}

.desktop-single-photo .line {
  width: 1440px;
  top: 0;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.desktop-single-photo .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 605px;
  left: 144px;
}

.desktop-single-photo .team-mari-e {
  position: relative;
  width: 420px;
  margin-top: -1px;
  font-family: var(--h2-desktop-font-family);
  font-weight: var(--h2-desktop-font-weight);
  font-style: var(--h2-desktop-font-style);
  color: #000000;
  font-size: var(--h2-desktop-font-size);
  letter-spacing: var(--h2-desktop-letter-spacing);
  line-height: var(--h2-desktop-line-height);
}

.desktop-single-photo .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--description-photo-desktop-font-family);
  font-weight: var(--description-photo-desktop-font-weight);
  color: #000000;
  font-size: var(--description-photo-desktop-font-size);
  letter-spacing: var(--description-photo-desktop-letter-spacing);
  line-height: var(--description-photo-desktop-line-height);
  font-style: var(--description-photo-desktop-font-style);
}

.desktop-single-photo .vous-aimerez-AUSSI {
  position: absolute;
  height: 27px;
  top: 1157px;
  left: 145px;
  font-family: var(--h3-desktop-font-family);
  font-weight: var(--h3-desktop-font-weight);
  color: #000000;
  font-size: var(--h3-desktop-font-size);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  font-style: var(--h3-desktop-font-style);
}

.desktop-single-photo .div {
  position: absolute;
  height: 21px;
  top: 1010px;
  left: 145px;
  font-family: var(--p-font-family);
  font-weight: var(--p-font-weight);
  color: #000000;
  font-size: var(--p-font-size);
  text-align: right;
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  font-style: var(--p-font-style);
}

.desktop-single-photo .img {
  width: 564px;
  top: 962px;
  left: 146px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.desktop-single-photo .line-2 {
  width: 1148px;
  top: 1080px;
  left: 146px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.desktop-single-photo .nathalie-jpeg {
  position: absolute;
  width: 563px;
  height: 844px;
  top: 118px;
  left: 731px;
  object-fit: cover;
}

.desktop-single-photo .CTA {
  top: 1000px;
  left: 438px;
  display: flex;
  width: 272px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 15px;
  position: absolute;
  background-color: #d7d7d7;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 1px #00000005;
  all: unset;
  box-sizing: border-box;
}

.desktop-single-photo .charger-plus {
  position: relative;
  width: fit-content;
  font-family: "Space Mono-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-single-photo .charger-plus-wrapper {
  top: 1785px;
  left: 584px;
  display: flex;
  width: 272px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 15px;
  position: absolute;
  background-color: #d7d7d7;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 1px #00000005;
  all: unset;
  box-sizing: border-box;
}

.desktop-single-photo .card-photo {
  position: absolute;
  width: 564px;
  height: 495px;
  top: 1237px;
  left: 144px;
  background-image: url(./img/nathalie-4-jpeg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop-single-photo .card-photo-2 {
  position: absolute;
  width: 564px;
  height: 495px;
  top: 1237px;
  left: 728px;
  background-image: url(./img/nathalie-5-jpeg.png);
  background-size: cover;
  background-position: 50% 50%;
}


