:root {
  --black: rgba(49, 49, 68, 1);
  --bleu-fonc: rgba(49, 49, 68, 1);
  --bluesblue-cta: rgba(33, 90, 255, 1);
  --bluesgray-2: rgba(184, 187, 194, 1);
  --description-photo-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-desktop-font-size: 14px;
  --description-photo-desktop-font-style: normal;
  --description-photo-desktop-font-weight: 400;
  --description-photo-desktop-letter-spacing: 1.4px;
  --description-photo-desktop-line-height: normal;
  --description-photo-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-mobile-font-size: 14px;
  --description-photo-mobile-font-style: normal;
  --description-photo-mobile-font-weight: 400;
  --description-photo-mobile-letter-spacing: 1.4px;
  --description-photo-mobile-line-height: normal;
  --drop-menu-menu-font-family: "Poppins-Medium", Helvetica;
  --drop-menu-menu-font-size: 12px;
  --drop-menu-menu-font-style: normal;
  --drop-menu-menu-font-weight: 500;
  --drop-menu-menu-letter-spacing: 0.36px;
  --drop-menu-menu-line-height: 18px;
  --gris-fonc: rgba(196, 196, 196, 1);
  --gris-light: rgba(229, 229, 229, 1);
  --gris-medium: rgba(216, 216, 216, 1);
  --h1-desktop-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-desktop-font-size: 70px;
  --h1-desktop-font-style: italic;
  --h1-desktop-font-weight: 700;
  --h1-desktop-letter-spacing: 0px;
  --h1-desktop-line-height: normal;
  --h1-mobile-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-mobile-font-size: 27.588184356689453px;
  --h1-mobile-font-style: italic;
  --h1-mobile-font-weight: 700;
  --h1-mobile-letter-spacing: 0px;
  --h1-mobile-line-height: normal;
  --h2-desktop-font-family: "SpaceMono-Italic", Helvetica;
  --h2-desktop-font-size: 66px;
  --h2-desktop-font-style: italic;
  --h2-desktop-font-weight: 400;
  --h2-desktop-letter-spacing: 0px;
  --h2-desktop-line-height: 58px;
  --h2-mobile-font-family: "SpaceMono-Italic", Helvetica;
  --h2-mobile-font-size: 46px;
  --h2-mobile-font-style: italic;
  --h2-mobile-font-weight: 400;
  --h2-mobile-letter-spacing: 0px;
  --h2-mobile-line-height: 48px;
  --h3-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --h3-desktop-font-size: 18px;
  --h3-desktop-font-style: normal;
  --h3-desktop-font-weight: 400;
  --h3-desktop-letter-spacing: 1.8px;
  --h3-desktop-line-height: normal;
  --h3-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --h3-mobile-font-size: 18px;
  --h3-mobile-font-style: normal;
  --h3-mobile-font-weight: 400;
  --h3-mobile-letter-spacing: 1.8px;
  --h3-mobile-line-height: normal;
  --noir-100: rgba(0, 0, 0, 1);
  --p-font-family: "Poppins-Light", Helvetica;
  --p-font-size: 14px;
  --p-font-style: normal;
  --p-font-weight: 300;
  --p-letter-spacing: 0px;
  --p-line-height: normal;
  --rouge: rgba(224, 0, 0, 1);
  --rouge-secondaire: rgba(254, 88, 88, 1);
  --rouge-tertiaire: rgba(255, 214, 214, 1);
  --white: rgba(255, 255, 255, 1);
 
}
html,
body {
  margin: 0 ;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}

.menu-container {
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px 10px #00000008;
  height: 80px;
}

.menu-container li {
  display: inline-block;
  padding: 30px;
  line-height: 1em;
  position: relative;
  right: 6%;
}
li {
margin-right: 2%;
}
ul,
ol {
  list-style: none;

  box-shadow: none !important;
}

a {
  text-decoration: none;
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  font-size: 16px;
}

.logo {
  width: 214px;
  height: 14px;
  float: left;
  text-align: center;
  margin-left: 17%;
  max-height: 80px;
  position: relative;
  top: 4%;
  right: 8%;
}


.footer-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -4px 14px 10px #00000008;
  height: 40px;
  border-top: solid black;
}
.footer-container li {
  display: inline-block;
  margin-left: 7%;
}
.hero {
  position: relative;
  background: url("../inc/images/nathalie-11.jpeg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
    -webkit-text-stroke: 3px #fff;
    color: #0000;
    font-family: var(--h1-desktop-font-family);
    font-size: var(--h1-desktop-font-size);
    font-style: var(--h1-desktop-font-style);
    font-weight: var(--h1-desktop-font-weight);
    letter-spacing: var(--h1-desktop-letter-spacing);
    line-height: var(--h1-desktop-line-height);
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -4px;
    margin-left: -3px;
    position: relative;
    
}
.footer-container a{
font-size: var(--drop-menu-menu-font-size);}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 236, 236, 0.5);
  z-index: 1050;
  overflow: auto;
}

.modal-dialog {
  width: 600px;
  max-width: calc(100vw - 20px);
  height: 770px;
  max-height: calc(100vh - 20px);;
  margin: 100px auto;
}
form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.modal-content {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}

.modal-header {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}



.modal-body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.btn-secondary {
  background-color:#ccc;
  color: black;
}

.btn-primary {
  background-color: var(--gris-fonc);
  border-radius: 2px;
  box-shadow: 0px 2px 1px #00000008;
  height: 70px;
  width: 236px;
  border-radius: 2px;
  border: solid white;
  
}

.form-group {
 padding: 20px;
 display: contents;
}


$repeatCount: 8;

@for $i from 1 through $repeatCount {
  $content: ();
  @for $j from 1 through 8{
    $content: append($content, CONTACT, space);
  }
  
  .modal-title:nth-child(#{$i})::before{
    content: $content + "#{$i}";
    display: inline-block;
    font-size: 33px;
     font-weight: var(--h2-desktop-font-weight);
    color: var(--black);
    font-family: "Space Mono", Helvetica;
    font-style: italic;
    word-spacing: -13px;
    opacity: 0.5;
    width: 677px;
    margin-left: -25px;
    transform: translateZ(-3px);
    
    
  }
}
.modal-title{
position: relative;
    transform-style: preserve-3d;
    perspective: 500px;}
input{
  width: 300px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #B8BBC2;
  border-radius: 8px;

}
textarea {
  width: 300px;
  height: 180px;
  background: #FFFFFF;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}
label{
 
    position: relative;
    right: 39%;
  padding: 5%;
  font-family: 'poppins';
 
}

  