:root {
    --black: rgba(49, 49, 68, 1);
    --bleu-fonc: rgba(49, 49, 68, 1);
    --bluesblue-cta: rgba(33, 90, 255, 1);
    --bluesgray-2: rgba(184, 187, 194, 1);
    --description-photo-desktop-font-family: "SpaceMono-Regular", Helvetica;
    --description-photo-desktop-font-size: 14px;
    --description-photo-desktop-font-style: normal;
    --description-photo-desktop-font-weight: 400;
    --description-photo-desktop-letter-spacing: 1.4px;
    --description-photo-desktop-line-height: normal;
    --description-photo-mobile-font-family: "SpaceMono-Regular", Helvetica;
    --description-photo-mobile-font-size: 14px;
    --description-photo-mobile-font-style: normal;
    --description-photo-mobile-font-weight: 400;
    --description-photo-mobile-letter-spacing: 1.4px;
    --description-photo-mobile-line-height: normal;
    --drop-menu-menu-font-family: "Poppins-Medium", Helvetica;
    --drop-menu-menu-font-size: 12px;
    --drop-menu-menu-font-style: normal;
    --drop-menu-menu-font-weight: 500;
    --drop-menu-menu-letter-spacing: 0.36px;
    --drop-menu-menu-line-height: 18px;
    --gris-fonc: rgba(196, 196, 196, 1);
    --gris-light: rgba(229, 229, 229, 1);
    --gris-medium: rgba(216, 216, 216, 1);
    --h1-desktop-font-family: "SpaceMono-BoldItalic", Helvetica;
    --h1-desktop-font-size: 96px;
    --h1-desktop-font-style: italic;
    --h1-desktop-font-weight: 700;
    --h1-desktop-letter-spacing: 0px;
    --h1-desktop-line-height: normal;
    --h1-mobile-font-family: "SpaceMono-BoldItalic", Helvetica;
    --h1-mobile-font-size: 27.588184356689453px;
    --h1-mobile-font-style: italic;
    --h1-mobile-font-weight: 700;
    --h1-mobile-letter-spacing: 0px;
    --h1-mobile-line-height: normal;
    --h2-desktop-font-family: "SpaceMono-Italic", Helvetica;
    --h2-desktop-font-size: 66px;
    --h2-desktop-font-style: italic;
    --h2-desktop-font-weight: 400;
    --h2-desktop-letter-spacing: 0px;
    --h2-desktop-line-height: 58px;
    --h2-mobile-font-family: "SpaceMono-Italic", Helvetica;
    --h2-mobile-font-size: 46px;
    --h2-mobile-font-style: italic;
    --h2-mobile-font-weight: 400;
    --h2-mobile-letter-spacing: 0px;
    --h2-mobile-line-height: 48px;
    --h3-desktop-font-family: "SpaceMono-Regular", Helvetica;
    --h3-desktop-font-size: 18px;
    --h3-desktop-font-style: normal;
    --h3-desktop-font-weight: 400;
    --h3-desktop-letter-spacing: 1.8px;
    --h3-desktop-line-height: normal;
    --h3-mobile-font-family: "SpaceMono-Regular", Helvetica;
    --h3-mobile-font-size: 18px;
    --h3-mobile-font-style: normal;
    --h3-mobile-font-weight: 400;
    --h3-mobile-letter-spacing: 1.8px;
    --h3-mobile-line-height: normal;
    --noir-100: rgba(0, 0, 0, 1);
    --p-font-family: "Poppins-Light", Helvetica;
    --p-font-size: 14px;
    --p-font-style: normal;
    --p-font-weight: 300;
    --p-letter-spacing: 0px;
    --p-line-height: normal;
    --rouge: rgba(224, 0, 0, 1);
    --rouge-secondaire: rgba(254, 88, 88, 1);
    --rouge-tertiaire: rgba(255, 214, 214, 1);
    --white: rgba(255, 255, 255, 1);
  }
  * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  .footer-desktop {
    background-color: #ffffff;
    height: 40px;
    position: relative;
    width: 1440px;
  }
  
  .footer-desktop .group {
    height: 24px;
    left: 410px;
    position: absolute;
    top: 8px;
    width: 620px;
  }
  
  .footer-desktop .menu-input-3 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 157px !important;
  }
  
  .footer-desktop .menu-input-4 {
    left: 243px !important;
    position: absolute !important;
    top: 0 !important;
    width: 97px !important;
  }
  
  .footer-desktop .menu-input-5 {
    left: 426px !important;
    position: absolute !important;
    top: 0 !important;
    width: 194px !important;
  }
  
  .footer-desktop .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
  }