@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

:root {
  --black: rgba(49, 49, 68, 1);
  --bleu-fonc: rgba(49, 49, 68, 1);
  --bluesblue-cta: rgba(33, 90, 255, 1);
  --bluesgray-2: rgba(184, 187, 194, 1);
  --description-photo-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-desktop-font-size: 14px;
  --description-photo-desktop-font-style: normal;
  --description-photo-desktop-font-weight: 400;
  --description-photo-desktop-letter-spacing: 1.4px;
  --description-photo-desktop-line-height: normal;
  --description-photo-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --description-photo-mobile-font-size: 14px;
  --description-photo-mobile-font-style: normal;
  --description-photo-mobile-font-weight: 400;
  --description-photo-mobile-letter-spacing: 1.4px;
  --description-photo-mobile-line-height: normal;
  --drop-menu-menu-font-family: "Poppins-Medium", Helvetica;
  --drop-menu-menu-font-size: 12px;
  --drop-menu-menu-font-style: normal;
  --drop-menu-menu-font-weight: 500;
  --drop-menu-menu-letter-spacing: 0.36px;
  --drop-menu-menu-line-height: 18px;
  --gris-fonc: rgba(196, 196, 196, 1);
  --gris-light: rgba(229, 229, 229, 1);
  --gris-medium: rgba(216, 216, 216, 1);
  --h1-desktop-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-desktop-font-size: 70px;
  --h1-desktop-font-style: italic;
  --h1-desktop-font-weight: 700;
  --h1-desktop-letter-spacing: 0px;
  --h1-desktop-line-height: normal;
  --h1-mobile-font-family: "SpaceMono-BoldItalic", Helvetica;
  --h1-mobile-font-size: 27.588184356689453px;
  --h1-mobile-font-style: italic;
  --h1-mobile-font-weight: 700;
  --h1-mobile-letter-spacing: 0px;
  --h1-mobile-line-height: normal;
  --h2-desktop-font-family: "SpaceMono-Italic", Helvetica;
  --h2-desktop-font-size: 66px;
  --h2-desktop-font-style: italic;
  --h2-desktop-font-weight: 400;
  --h2-desktop-letter-spacing: 0px;
  --h2-desktop-line-height: 58px;
  --h2-mobile-font-family: "SpaceMono-Italic", Helvetica;
  --h2-mobile-font-size: 46px;
  --h2-mobile-font-style: italic;
  --h2-mobile-font-weight: 400;
  --h2-mobile-letter-spacing: 0px;
  --h2-mobile-line-height: 48px;
  --h3-desktop-font-family: "SpaceMono-Regular", Helvetica;
  --h3-desktop-font-size: 18px;
  --h3-desktop-font-style: normal;
  --h3-desktop-font-weight: 400;
  --h3-desktop-letter-spacing: 1.8px;
  --h3-desktop-line-height: normal;
  --h3-mobile-font-family: "SpaceMono-Regular", Helvetica;
  --h3-mobile-font-size: 18px;
  --h3-mobile-font-style: normal;
  --h3-mobile-font-weight: 400;
  --h3-mobile-letter-spacing: 1.8px;
  --h3-mobile-line-height: normal;
  --noir-100: rgba(0, 0, 0, 1);
  --p-font-family: "Poppins-Light", Helvetica;
  --p-font-size: 14px;
  --p-font-style: normal;
  --p-font-weight: 300;
  --p-letter-spacing: 0px;
  --p-line-height: normal;
  --rouge: rgba(224, 0, 0, 1);
  --rouge-secondaire: rgba(254, 88, 88, 1);
  --rouge-tertiaire: rgba(255, 214, 214, 1);
  --white: rgba(255, 255, 255, 1);
}

.menu-container {
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px 10px #00000008;
  height: 80px;
}

.menu-container li {
  display: inline-block;
  padding: 30px;
  line-height: 1em;
  position: relative;
  right: 6%;
}

li {
  margin-right: 2%;
}

ul,
ol {
  list-style: none;

  box-shadow: none !important;
}

a {
  text-decoration: none;
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  font-size: 16px;
}

#app {
  margin: 0 auto;
  width: fit-content;
}

/*body:not(header):not(nav) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}*/

.menu-container {
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 4px 14px 10px #00000008;
  height: 80px;
}

.flex {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
  height: auto;
}
#single-photo-page {
  .hero {
    display: none !important;
  }
}


.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: auto;
}

.nathalie-jpeg {
  object-fit: contain;
  width: 35.1875rem;
 
  height: 52.75rem;
  margin-top: 10%;
}

* {
  box-sizing: border-box;
}

.team-mari-e {
  color: #000;
  font-family: var(--h2-desktop-font-family);
  font-size: var(--h2-desktop-font-size);
  font-style: var(--h2-desktop-font-style);
  font-weight: var(--h2-desktop-font-weight);
  letter-spacing: var(--h2-desktop-letter-spacing);
  //line-height: var(--h2-desktop-line-height);
  width: 27rem;
  position: relative;
  position: relative;
  top: 1em;
}


.text-wrapper {
  color: #000;
  font-family: var(--description-photo-desktop-font-family);
  font-size: var(--description-photo-desktop-font-size);
  font-style: var(--description-photo-desktop-font-style);
  font-weight: var(--description-photo-desktop-font-weight);
  letter-spacing: var(--description-photo-desktop-letter-spacing);
  line-height: var( --h1-desktop-line-height);
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

#flex-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: auto;
}
#flex-cont1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 10rem;
  bottom: 5rem;
  padding-top: 97px;
  height: auto;
}
.div {
  color: #000;
  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-style: var(--p-font-style);
  font-weight: var(--p-font-weight);
  letter-spacing: var(--p-letter-spacing);
  line-height: var(--p-line-height);
  text-align: right;
  height: 21px;
  position: relative;
  left: 13%;
}
 

.line{
  width: 100%;
  height: 1px;
  border-bottom:1px solid var(--black);
  position: relative;
  top: 13.5em;
  right: 3em;
  
}
.line2{
  border-top: 1px solid #000; /* Couleur et épaisseur de la ligne */
  width: 100%;

}
.charger-plus ,#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gris-fonc);
  color: var(--black);
  width: 272px;
  height: 50px;
  cursor: pointer;
 position: relative;
  left: 24%;
  border-radius: 8px;
}
.charger-plus:hover{
 background-color: var(--bluesblue-cta);
}
.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligne les flèches en bas de la galerie */
  position: relative;
  flex-direction: column;
}

.prev {
  font-size: 24px;
  cursor: pointer;
  color: var(--bluesgray-2);
  margin-right: 20rem; 
  bottom: 2rem; 
  position: absolute;
  
}

.next {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  color: var(--bluesgray-2);
  bottom: 2rem; 
   }

#gallery-1 img {
  border: 2px solid #cfcfcf;
  object-fit: contain;
  background-size: 49%;
  height: 6em;
  margin-right: 10rem;
}
.card-photo {
  background-image:  url("/themes/wordplate/inc/images/4.webp");
  background-position: 50% 50%;
  background-size: cover;
  width: 32rem;
  height: 31rem;
  object-fit: contain;
  
}

.card-photo-2 {
  background-image:  url("/themes/wordplate/inc/images/5.webp");
  background-position: 50% 50%;
  background-size: cover;
  width: 32rem;
  height: 31rem;
  object-fit: contain;
  
}
.CTA-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--gris-fonc);
  color: var(--black);
  width: 272px;
  height: 50px;
  cursor: pointer;
  margin-top: 15%;
  border-radius: 8px;
}
.CTA-2:hover{
  background-color: var(--bluesblue-cta);
 }
#flex-cont2 {
  display: flex;
  flex-direction: row; 
  width: 100%;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 10rem;
  height: 100vh; 
  gap:20px;
}
.images-container {
  display: flex; 
  justify-content: space-between; 
  width: 100%;
  gap: 20px;
 
}
#flex-cont2{
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 40px;
  height: 100vh;
}
.vous-aimerez-AUSSI {
  color: #000;
  font-family: var(--h3-desktop-font-family);
  font-size: var(--h3-desktop-font-size);
  font-style: var(--h3-desktop-font-style);
  font-weight: var(--h3-desktop-font-weight);
  letter-spacing: var(--h3-desktop-letter-spacing);
  line-height: var(--h3-desktop-line-height);
  height: 27px;
  position: relative;
  right: 30%;
}
.menu-container {
  /* Your existing styles for menu-container */
}

/* Add media query for screens with a width less than 920px */

  @media screen and (max-width: 920px) {
   
    
    .frame,
    #flex-cont2,
    #flex-cont1,
    #flex-cont,
    .images-container ,article , section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; 
      background-color: var(--white);
      padding: 20px; 
    }
    #flex-cont1 ,.div , .charger-plus, #contact{
      margin:0;
      margin-top: 5em;
    
      
    }
    #flex-cont2{
      height: max-content;
    }
    .vous-aimerez-AUSSI {
      margin-left: 6em;
    }
    body {
     
    }
  
  
    .image-wrapper img {
      max-width: 100%; 
      height: auto;
      position: relative;
    right: 2em;
      
    }
  
  
  .line, .line2{
    display:none
  }

  

a {
  color: #000;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;}
 


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  display: flex; /* Utilisation de flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* Remplir la hauteur de l'en-tête */
  @if (".menu-btn:checked ") {
    color: var(--white); 
    background-color: var(--rouge);// Changez la couleur du texte lorsque le menu est ouvert
  }
  }

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #000;
  @if (".menu-btn:checked ") {
    color: var(--white); 
    
  }
  }
 
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
 padding: 28px 20px;
  position: relative;
  user-select: none;
  background-color: transparent;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: max-content;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header li {
  float: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0; /* Supprimez la marge */
  padding: 0; /* Supprimez le padding */
}

.header li a {
  border-right: none;
  margin-top: -23ppx; /* Réduisez la marge supérieure pour rapprocher les éléments */
  padding: 10px 20px; /* Ajustez le padding pour plus d'espace entre le texte et les bords */
}

.header .menu {
  height: 400px;
  overflow: auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage vertical des éléments */
  margin: 0;
  padding: 0;
}

}
